@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
}

h1, h2 {
  color: #2E2564;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 30px 0;
}
h2 {
  font-size: 1.5em;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.question {
  padding-top: 30px;
}

.answers {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.answer-option {
  list-style: none;
  flex: 1 1 0;
  margin: 5px;
  position: relative;
  max-width: 250px;
}

.answer-option input[type=radio] {
  position: absolute;
  opacity: 0;
}

.answer-option input[type=radio]:checked + label {
  background: #53568e;
  color: white;
}

.answer-option label {
  border-radius: 15px;
  display: block;
  height: 100%;
  cursor: pointer;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  background: white;
}
.answer-option label:hover {
  transform: scale(1.025);
}
.answer-option label p {
  padding: 20px;
  margin: 0;
  flex-basis: 30%;
  font-size: 20px;
}
.answer-option label div {
  flex-basis: 70%;
}
.answer-option label div img {
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.answer-option .full-img {
  flex-basis: 100%;
}

.result {
  margin: 0 10%;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  border-radius: 25px;
  overflow: hidden;
  background: white;
}
.result-image {
  flex-basis: 40%;
}
.result-image img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  filter: opacity(.75);
}
.result-title {
  padding-top: 30px;
  padding-left: 30px;
  text-align: left;
}
.result-text {
  padding-left: 30px;
  font-size: 1.15em;
  flex-basis: 60%;
}

.navbar {
  display: flex;
  background: #ffd7e9; /* Old browsers */
  background: linear-gradient(to right, #ffd7e9 0%,#d9d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.navbar .nav-logo {
  padding-left: 30px;
  padding-right: 30px;
  color: #68639e;
  font-size: 1.5em;
  font-family: "Pacifico", monospace;

}
.nav-logo img {
  max-width: 50px;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
  border-radius: 50%;
}

.nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-item:hover {
  animation: jiggle .5s;
}
@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  25% {
    transform: rotate(+1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer {
  height: 100px;
  display: block;
}

.pink-bg {
  background: #ffd7e9; /* Old browsers */
  background: linear-gradient(to right, #ffd7e9 0%,#d9d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.quiz-card-group {
  display: flex;
  flex-wrap: wrap;
}

.quiz-card {
  display: block;
  margin: 1%;
  flex-basis: 30%;
  position: relative;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 75px;
}
.quiz-card img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}
.quiz-card-bg {
  position: absolute;
  height: calc(100% - 100px);
  width: 100%;
  background: white;
  z-index: -1;
  top: 100px;
  left: 0;
}
.quiz-card h3 {
  text-align: center;
  margin: 5% 0;
}
.page-title {
  margin: 0;
  padding: 50px 30px;
  font-size: 2em;
}
